{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
	<!-- Datatables -->
    <link href="{{ asset('bundles/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pageContent %}
	<a href="{{ path('admin_page_new') }}" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Create new page</a>
	{% if app.session.flashBag.has('success') %}
		<div class="alert alert-success">
			{% for msg in app.session.flashBag.get('success') %}
				{{ msg }}
			{% endfor %}
		</div>
	{% endif %}

	{% if pages|length %}
		<div class="x_panel">
				<div class="x_title">
					Pages
				</div>
				<div class="x_content">
						<table id="datatable" class="table table-striped table-bordered">
			              <thead>
			                <tr>
			                  <th>Title</th>
			                  <th>Created</th>
			                  <th>Modified</th>
			                  <th width="50">Actions</th>
			                </tr>
			              </thead>
			              <tbody>
			                {% for page in pages %}
								<tr id="page_row-{{ page.id }}">
									<td>{{ page.title }}</td>
									<td>{{ page.created|date('l M Y') }}</td>
									<td>{{ page.updated|date('l M Y') }}</td>
									<td>
										<div class="btn-group">
											<a href="{{ path('admin_page_edit', {id:page.id}) }}" class="btn btn-xs btn-info"><i class="fa fa-pencil-square-o"></i></a>
											<a href="#" class="btn btn-xs btn-danger js-delete" data-id="{{ page.id }}"><i class="fa fa-trash-o"></i></a>
										</div>
									</td>
								</tr>
			                {% endfor %}
			              </tbody>
			            </table>
		          </div>
				</div>
		</div>
	{% else %}
		<div class="alert alert-info">You haven't created a page yet.</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
	<!-- Datatables -->
    <script src="{{ asset('bundles/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

    <script type="text/javascript">
	    $(function() {

	    	// << Delete post
	    	var jsDelete = $('.js-delete');

	    	jsDelete.click(function(e) {
	    		e.preventDefault();

	    		var id 		= $(this).data('id'),
	    			postRow = $('#post_row-'+id);

	    		swal({
	    			title 				: 'Are you sure?',
	    			text 				: 'The page will be permanently deleted.',
	    			type 				: 'warning',
	    			showCancelButton	: true,
	    			closeOnConfirm 		: false,
	    			showLoaderOnConfirm	: true,
	    		},
	    			function() {
	    				$.ajax({
	    					url: "{{ path('admin_page_delete') }}",
	    					type: 'post',
	    					data: {id: id},
	    					success: function(data) {
	    						swal.close();

	    						if (data.success) {
	    							postRow.remove();
	    						}

	    						swal({
	    							title 		: data.title,
	    							text 		: data.text,
	    							type 		: 'success'
	    						});
	    					},
	    					error: function(response) {
	    						swal({
	    							title 				: 'Internal Error!',
	    							text 				: 'Please contact the admin',
	    							type 				: 'error',
	    							showCancelButton 	: false,
	    							closeOnConfirm 		: true
	    						});
	    					}
	    				});
	    			}
	    		);
	    	});
	    	// >> Delete post
	    });
    </script>
{% endblock %}