{% extends 'admin/base.html.twig' %}

{% block pageContent %}
	{% if app.session.flashBag.has('success') %}
		<div class="alert alert-success">
			{% for msg in app.session.flashBag.get('success') %}
				{{ msg }}
			{% endfor %}
		</div>
	{% endif %}

	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>New  Category</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				{{ form_start(form) }}
					{{ form_row(form.name) }}
					{{ form_row(form.slug) }}

					<hr>
					<div class="clearfix"></div>
					<div class="text-right">
						<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Save</button>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<div class="col-md-8 col-sm-8 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Category List</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				{% if categories|length %}
					<table id="datatable" class="table table-striped table-bordered">
		              <thead>
		                <tr>
		                  <th>Name</th>
		                  <th>Slug</th>
		                  <th>Description</th>
		                  <th width="50">Actions</th>
		                </tr>
		              </thead>
		              <tbody>
						{% for category in categories %}
							<tr>
								<td>{{ category.name }}</td>
								<td>{{ category.slug }}</td>
								<td></td>
								<td>
									<div class="btn-group">
										<a href="#" class="btn btn-xs btn-info"><i class="fa fa-pencil"></i></a>
										<a href="#" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
									</div>
								</td>
							</tr>
						{% endfor %}
		              </tbody>
		            </table>
		        {% else %}
		        	<div class="alert alert-warning">Category list is currenly empty!</div>
		        {% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}