{% extends 'admin/base.html.twig' %}

{% block pageContent %}
	<div class="row">
		{{ form_start(form) }}
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Title</h2>
						<ul class="nav navbar-right panel_toolbox">
				            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
				          </ul>
		          		<div class="clearfix"></div>
					</div>
					<div class="x_content">
						{{ form_row(form.title) }}
					</div>
				</div>
		      <div class="x_panel">
		        <div class="x_title">
		          <h2>Content</h2>
		          <ul class="nav navbar-right panel_toolbox">
		            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
		          </ul>
		          <div class="clearfix"></div>
		        </div>
		        <div class="x_content">
				  {{ form_row(form.description) }}
		          <div class="ln_solid"></div>
		        </div>
		      </div>
		    </div>

	      <div class="col-md-4 col-xs-12">
	        <div class="x_panel">
	          <div class="x_title">
	            <h2>Category</h2>
	            <ul class="nav navbar-right panel_toolbox">
	              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	              </li>
	              <li><a class="close-link"><i class="fa fa-close"></i></a>
	              </li>
	            </ul>
	            <div class="clearfix"></div>
	          </div>

		        {% for category in categories %}
					<div class="checkbox">
	                    <label>
	                      <input type="checkbox" class="flat" name="categories[]" {% if post is defined and category in post.categories %}checked="checked"{% endif %} value="{{ category.id }}"> {{ category.name }}
	                    </label>
	                </div>
		        {% endfor %}

				<hr>
				<button class="btn btn-success" type="submit" id="submitPost">{% if post is defined %}Update{% else %}Save{% endif %} Post</button>
	          </div>
	        </div>
	      </div>
	    {{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	<!-- bootstrap-wysiwyg -->
    <script src="{{ asset('bundles/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js') }}"></script>
    <script src="{{ asset('bundles/jquery.hotkeys/jquery.hotkeys.js') }}"></script>
    <script src="{{ asset('bundles/google-code-prettify/src/prettify.js') }}"></script>

	<!-- Switchery -->
    <script src="{{ asset('bundles/switchery/dist/switchery.min.js') }}"></script>
{% endblock %}