{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/dropzone/min/dropzone.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/iziModal/css/iziModal.min.css') }}">
{% endblock %}

{% block pageContent %}
	{% if app.session.flashBag.has('success') %}
		<div class="alert alert-success">
			{% for msg in app.session.flashBag.get('success') %}
				{{ msg }}
			{% endfor %}
		</div>
	{% endif %}

	<div class="x_panel">
		<div class="x_title">
			<h2>Media</h2>
      <div class="pull-right">
        <button class="btn btn-info" id="newMediaBtn"><i class="fa fa-upload"></i> New Media</button>
      </div>
      <div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row" id="media_content">
            <p>Media gallery design emelents</p>

            {% for media in allMedia %}
              <div class="col-md-55 thumbnail_wrapper-{{ loop.index }}">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{% path media, 'admin' %}" alt="{{ media.name }}" />
                    <div class="mask">
                      <p>Media Options</p>
                      <div class="tools tools-bottom">
                        <a href="#" data-id="{{ media.id }}" class="media_option media_view"><i class="fa fa-desktop"></i></a>
                        <a href="#" data-id="{{ media.id }}" class="media_option media_title"><i class="fa fa-font"></i></a>
                        <a href="#" data-id="{{ media.id }}" class="media_option media_delete"><i class="fa fa-trash"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="caption">
                    {{ media.description }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
		</div>
	</div>

<div id="dropZoneModal">
  <form action="{{ path('media_upload') }}"
      class="dropzone"
      id="my-awesome-dropzone"></form>
</div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/dropzone/min/dropzone.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/iziModal/js/iziModal.min.js') }}"></script>

  <script type="text/javascript">
    $(function() {
      var newMediaBtn = $('#newMediaBtn'),
          mediaContent= $('#media_content');

      var clonedContent = $('.thumbnail_wrapper-1').clone();

      $('#dropZoneModal').iziModal({
        title     : 'Media Upload',
        subtitle  : 'Click or drag and drop files in the space below',
        icon      : 'fa fa-upload',
        width     : '60%',
      });

      newMediaBtn.click(function(e) {
        e.preventDefault();
        $('#dropZoneModal .dz-preview').empty();
        $('#dropZoneModal').iziModal('open');
      });

      Dropzone.options.myAwesomeDropzone = {
        init: function() {
          /*
          this.on("addedfile", function(file) {
            console.log(response);
            mediaContent.append($('<div/>', {'class':'col-md-55'}).append(
              $('<img/>', {'src':file.name})
            ));
          });
          */
          this.on("success", function(file, response) {
            var newMediaContent = clonedContent.clone();

            newMediaContent.find('img').attr('src', response.media);
            newMediaContent.find('.media_option').attr('data-id', response.id);

            mediaContent.append(newMediaContent);
          });
        }
      };

      function changeCaption(id, text) {
        var caption = $('.caption[data-id='+id+']');
        caption.text(text);
      }

    });
  </script>

{% endblock %}